<h1>Work Project</h1>
<form class="work-project-form">
  <div>
    <md-form-field>
      <input mdInput placeholder="Overview">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Schedule">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Technical keywords(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput class="mat-focused" placeholder="Feature plan"></textarea>
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Customers(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Working details"></textarea>
    </md-form-field>
  </div>
</form>
<form class="work-project-form">
  <div>
    <md-form-field>
      <input mdInput placeholder="Overview">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Schedule">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Technical keywords(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Feature plan"></textarea>
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Customers(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Working details"></textarea>
    </md-form-field>
  </div>
</form>
<form class="work-project-form">
  <div>
    <md-form-field>
      <input mdInput placeholder="Overview">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Schedule">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Technical keywords(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Feature plan"></textarea>
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Customers(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Working details"></textarea>
    </md-form-field>
  </div>
</form>
<form class="work-project-form">
  <div>
    <md-form-field>
      <input mdInput placeholder="Overview">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Schedule">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Technical keywords(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Feature plan"></textarea>
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <input mdInput placeholder="Customers(csv)">
    </md-form-field>
  </div>
  <div>
    <md-form-field>
      <textarea mdInput placeholder="Working details"></textarea>
    </md-form-field>
  </div>
</form>
