#wrst-container {
  margin-left: 10%;
  margin-right: 10%;
}

.footer {
  padding: 0 16px;
  height: 64px;

  p {
    line-height: 64px;
  }
}

.primary {
  color: rgba(255,255,255,.87);
  background-color: #3f51b5;
}