<div id="fs-root-container" class="text-center">
  <h1>Free Space</h1>
  <div id="fs-form-container">
    <form *ngFor="let free of frees; let i = index;" class="free-space-form">
      <div class="text-right">
        <button md-raised-button class="delete" [disabled]="frees.length === 1" (click)="onDeleteButtonClicked(i)">Delete</button>
      </div>
      <div>
        <md-form-field>
          <textarea mdInput [(ngModel)]="free.freeWords" name="freeSpaces" placeholder="Free spaces"></textarea>
        </md-form-field>
      </div>
    </form>
  </div>
  <button md-raised-button class="add" (click)="onAddedButtonClicked()">Add</button>
</div>
